# Created by https://www.gitignore.io

### Node ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Output dir
dist

# Editors
.idea
.vscode

# MacOS trash
.DS_Store
