<div class="mashupCustomUnitShowRelations-legend">

    <% if (showMessageHidden) { %>

        <p class="mashupCustomUnitShowRelations-legend__empty">
            The selected card has related entities that are not represented on this view.
            <br />Check the related entities in the <a class="mashupCustomUnitShowRelations-legend__link">cards details</a>.
        </p>

    <% } %>

    <% if (showMessageEmpty) { %>

        <p class="mashupCustomUnitShowRelations-legend__empty">
            There is no any relations for cards represented on this view.
        </p>

    <% } %>

    <% if (relationTypes.length) { %>

        <h3>Arrows</h3>
        <div>
            <% relationTypes.forEach(function(v) { %>
                <% var color = getRelationTypeColor(v); %>
                <div class="mashupCustomUnitShowRelations-legend__line">
                    <svg width="38px" height="7px" viewBox="0 0 38 7" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.5,3.5 L27.5,3.5" stroke-linecap="square" stroke="<%= color %>"></path>
                        <path d="M27.5,3.5 L20.7,0.5 L20.7,6.5 L27.5,3.5 Z" stroke-linecap="square" stroke="<%= color %>" fill="<%= color %>"></path>
                    </svg>
                    <%= v.name %>
                </div>
            <% }); %>
        </div>

    <% } %>

</div>
