.mashupCustomUnitShowRelations {

    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .i-role-card,
    .tau-show-more-cards-trigger {

        opacity: 0.3;
        transition: opacity 0.1s;

    }

    &__related,
    &__source {

        opacity: 1 !important;
        /*background-color: #fff !important;*/
        z-index: 9;
        position: relative;

    }

    &__related.tau-selected,
    &__source.tau-selected {

    }

    &__related-outbound,
    &__related-inbound {

        outline-width: 1px !important;
        outline-style: solid !important;

    }

}

.mashupCustomUnitShowRelations-highlighted .mashupCustomUnitShowRelations__related {opacity: 0.3 !important;}
.mashupCustomUnitShowRelations-highlighted .mashupCustomUnitShowRelations__highlighted {opacity: 1 !important;}

.mashupCustomUnitShowRelations__svg-highlighted path.line {
    opacity: 0.3;
}

.mashupCustomUnitShowRelations__svg-highlighted .mashupCustomUnitShowRelations__highlighted {opacity: 1 !important;}

.mashupCustomUnitShowRelations__svg .helperline {
    opacity: 0;
}

.mashupCustomUnitShowRelations__svg .line {
    transition: opacity 0.1s;
}

.mashupCustomUnitShowRelations-legend {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    font-size: 12px;
    padding: 5px 15px 15px;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    h3 {
        font-weight: 600;
        font-size: 12px;
    }

    &__line + &__line {
        margin-top: 10px;
    }

    &__link {
        color: #28428b;
        cursor: pointer;
    }

}

.i-role-grid .tau-board-unit_type_relations-counter-in-out {
    cursor: pointer !important;
}
